<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

</head>

<body>

    <div class="dashboard">
        <h1>Welcome To ATM</h1>
        <h2>{{name}}</h2>

        <div class="account-info">
            <h3>User Name: {{name}}</h3>
            <h3>Account Number: {{acc_no}}</h3>
            <h3>Current Balance: ₹ {{balance}}</h3>
        </div>

        <div class="card">
            <h3>Deposit Amount</h3>
            <form action="/deposit/{{acc_no}}" method="post">
                <input type="number" name="amt" placeholder="Enter amount" required>
                <input type="submit" value="Deposit" class="btn">
            </form>
        </div>

        <div class="card">
            <h3>Withdraw Amount</h3>
            <form action="/withdraw/{{acc_no}}" method="post">
                <input type="number" name="amt" placeholder="Enter amount" required>
                <input type="submit" value="Withdraw" class="btn">
            </form>
        </div>

        <div class="card">
            <h3>Delete Account</h3>
            <button class="btn danger">
                <a href="/delete/{{acc_no}}" class="delete-link">Delete Account</a>
            </button>
        </div>
        <!-- should be developed tomorrow    -->
        <form action="/logout" method="get" >
    <button type="submit" class="btn">
        Logout
    </button>
</form>

    </div>
    

</body>
</html>
