<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body{
            margin:20px;
            padding:30px;
           
           

        }
        div{
             border: 60px solid black;
             background-color: aqua;

        }
        h1{
            color:blueviolet;
            text-align: center;

        }
        h2{
            color:red;
            text-align:center;
        }
        h3{
            color:brown;
            text-align: left;
        }
    </style>
</head>
<body>
    <div>
    <h1>Welcome To ATM</h1>
     <h2>{{username}}</h2>
     <br>

     <section>
     <h3>User Name:{{username}}</h3>
     <h3>Account Number:{{acc_no}}</h3>
     <h3>Initial Amount:{{balance}}</h3>
     </section>
     
     </div>
    
</body>
</html>