<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">

</head>

<body>

    <div class="atm-container">
        <h1>Welcome to ATM</h1>

        <form action="/create" method="post">
            <div class="form-group">
                <strong>Card Number:</strong>
                <input type="text" name="acc_no" placeholder="Enter account number" required>
            </div>

            <div class="form-group">
                <strong>User Name:</strong>
                <input type="text" name="name" placeholder="Enter user name" required>
            </div>
            <div class="form-group">
                <strong>User PIN:</strong>
                <input type="password" name="pin" placeholder="Create PIN">

            </div>



            <div class="form-group">
                <strong>Initial Amount:</strong>
                <input type="text" name="balance" placeholder="Enter initial amount">
            </div>

            <input type="submit" value="Register" class="btn">
        </form>
        <p>
            Already have an account?
            <a href="/login">Login here</a>
        </p>

    </div>

</body>

</html>